@import '@/styles/DefaultValueVariable.scss';

.form__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 20px;

  > .form__input {
    width: 400px;
    display: flex;
    flex-wrap: wrap;

    > label {
      width: 100%;
      font-weight: $--weight-medium;
    }

    > input {
      width: 100%;
      border-radius: 4px;
      border: 1px solid $--color-gray-light;
    }

    > textarea {
      width: 100%;
      // max-height: calc(133px - 32 * 2px);
      background-color: $--color-white;
      border: 1px solid $--color-gray-light;
      border-radius: 4px;
      outline: none;
      resize: none;
      overflow: auto;
      margin: 0;
      padding-left: 14px;
      padding-top: 8px;
    }
  }
}