@import '@/styles/DefaultValueVariable.scss';

.home__project {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: aqua;
  border: 1px solid #ccc;
  cursor: pointer;

  .home__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #ccc;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    opacity: 0;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    background-color: rgba($--color-white, .75);
    transition: .3s all ease;

    > h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 72px;
      margin: 0;
      height: 90%;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}